.idea
class_pract.py
Ipoteka.py
CUMMA MOUX NERVOV.py
practica.py
screen.png
/semestr_1/
/semestr_2/DataBase/
/semestr_2/PyAutoGui
/semestr_2/Diethelper.py
/semestr_2/mane.html
/semestr_2/parcer.py
/semestr_2/styles.css
/semestr_2/TG_bot/config.py
/semestr_2/TG_bot/db_tg.db
/semestr_2/TG_bot/tg_bot.py