.idea
class_pract.py
Ipoteka.py
CUMMA MOUX NERVOV.py
practica.py
screen.png
/semestr_1/PyGame/
/semestr_1/home work.py
/semestr_1/home_work tuple.py
/semestr_1/lesson_class.py
/semestr_1/lesson_frr.py
/semestr_1/lesson_function.py
/semestr_1/lesson_list_set.py
/semestr_1/lesson_modules.py
/semestr_1/lesson_str.py
/semestr_1/lesson_tkinter.py
/semestr_1/lesson_tuple_dict.py
/semestr_1/lesson_turtle.py
/semestr_1/lesson_while.py
/semestr_1/main.py
/semestr_1/new_new_window.py
/semestr_1/NINJA.py
/semestr_1/rpg_betta.py
/semestr_1/RPG_GAME.py
/semestr_1/samolet_icon.png
/semestr_1/square.py
/semestr_1/test.py
/semestr_1/tkinter_animation.py
/semestr_1/try_except.py
/semestr_1/try_exept_дз.py
/semestr_1/дз_задача_1.py
/semestr_1/ПОЛОЖИТЕЛЬНОЕ И ОТРИЦ. ЧИСЛА.py
/semestr_1/рисунок.py
/semestr_1/РПГ игрок.py
/semestr_1/самолётик.py
/semestr_1/ФУНКЦИИ ДЗ.py
/semestr_1/черепашка.py
/semestr_2/DataBase/
/semestr_2/PyAutoGui
/semestr_2/Diethelper.py
/semestr_2/mane.html
/semestr_2/parcer.py
/semestr_2/styles.css
/semestr_2/TG_bot/config.py
/semestr_2/TG_bot/db_tg.db
/semestr_2/TG_bot/tg_bot.py